.personal-provider-section {
	width: 100%;
	height: 100%;
	.partner-admin-page-block {
		margin: 50px 0;
		.nav-tabs {
			li {
				margin: 1px 0 0 1px;
				a {
					background-color: #DEC673;
					border-color: #DEC673;
					color: #fff;
					&:hover {
						background-color: #e5d08b;
					}
				}
			}	
		}
		.tab-content {
			background-color: #fff;
			padding: 20px 15px;
			position: relative;
			.tab-pane {
				.salon-info {
					form {
						display: flex;
						flex-direction: column;
						.box {
							display: flex;
							flex-direction: column;
							margin-bottom: 25px;
							span {
								display: block;
								cursor: pointer;
							}
							label {
								display: inline-block;
								margin: 0;
								padding: 0;
								span {
									display: inline-block;
								}
							}
							textarea {
								resize: none;
							}
						}
						.radio {
							display: block;
							label {
								display: inline-flex;
								align-items: center;
								margin-right: 15px;
								span {
									font-size: 12px;
									color: #969696;
									cursor: pointer;
									margin-left: 5px;
									user-select: none; 
								}
							}
						}
						.salon-save-form {
							text-align: right;
							margin: 20px 0;
						}
						.upload-images {
							margin: 0!important;
							.img-box {
								width: 100%;
								height: 220px;
								position: relative;
								background-position: center;
								background-size: cover;
								position: relative;
								display: flex;
								align-items: center;
								justify-content: center;
								.bg-img {
									width: 100%;
									height: 100%;
									position: absolute;
									left: 0;
									right: 0;
									top: 0;
									bottom: 0;
									background-color: #000;
									opacity: 0;
									transition: 0.4s;
									z-index: 5;
								}
								.del-img {
									color: #fff;
									opacity: 0;
									transition: 0.4s;
									position: relative;
									z-index: 10;
									cursor: pointer;
									height: 20px;
									width: 20px;
									i {
										transition: 0.3s;
										font-size: 22px;
									}
									&:hover {
										i {
											transition: 0.3s;
											color: #c30000;
										}
									}
								}
								&:hover {
									.bg-img {
										transition: 0.4s;
										opacity: 0.5;
									}
									.del-img {
										transition: 0.4s;
										opacity: 1;
									}
								}
							}
						}
						.working-days {
							.day {
								margin-bottom: 20px;
								position: relative;
								width: 100%;
								display: flex;
								justify-content: space-between;
								align-items: center;
								label {
									position: relative;
									margin: 0;
									padding: 0;
									width: 48%;
									input {
										width: 100%;
										cursor: pointer;
									}
									&:before {
										content: "▼";
										position: absolute;
										right: 10px;
										bottom: 10px;
										z-index: 10;
										color: lightgray;
										transition: 0.3s;
										cursor: pointer;
									}
									span {
										font-size: 14px;
										color: gray;
									}
								}
								ul {
									width: 100%;
									opacity: 0;
									visibility: hidden;
									border: 1px solid lightgray;
									border-top: none;
									height: 300px;
									overflow: overlay;
									position: absolute;
									z-index: 20;
									background-color: #fff;
									li {
										cursor: pointer;
										padding: 10px 15px;
										color: #707070;
										font-size: 13px;
										&:hover {
											background-color: #efefef;
										}
									}
								}
								.show {
									opacity: 1;
									visibility: visible;
								}
							}
						}
					}
				}
			}
			.preloader_tab {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: transparent;
				z-index: 40;
			}
		}

	}
} 